@if (!loading && notice) {
  <section class="notice-article notice-{{ notice.class }}">
    <header class="notice-header">
      <h1 class="notice-title content-header">{{ notice.title }}</h1>
      <div class="notice-meta">
        <span class="notice-date">Posted: {{ notice.createdAtFriendly }} | Authored by: {{ notice.author }}</span>
      </div>
    </header>

    <div class="notice-body" [innerHTML]="noticeContent">
    </div>

    <div class="disclaimer">
      This article <i>may</i> have been published using a message link from Discord. Please excuse any formatting
      errors that may make it hard to read.
    </div>

  </section>
} @else {
  <ng-template [ngTemplateOutlet]="loadingOrError"></ng-template>
}

<ng-template #loadingOrError>
  @if (loading) {
    Loading article...
  } @else if (!loading && error) {
    {{ error }}
  }
</ng-template>
